## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [13]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [92]:
# Your code here

min_value = 0
max_value = 100
random_numbers = 80

sample_list_1 = random.sample(range(min_value,max_value),random_numbers)
print(sample_list_1 )

[81, 87, 7, 31, 71, 44, 8, 3, 52, 85, 90, 26, 86, 77, 65, 63, 33, 18, 39, 46, 27, 9, 34, 11, 59, 95, 91, 83, 6, 93, 53, 89, 35, 70, 36, 88, 45, 51, 96, 23, 32, 69, 14, 24, 66, 16, 68, 97, 30, 17, 78, 76, 29, 92, 64, 19, 48, 73, 4, 20, 25, 38, 79, 60, 40, 67, 98, 15, 0, 2, 1, 80, 13, 56, 43, 54, 42, 55, 74, 57]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [93]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

#Yes because all random numbers are unique

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [94]:
# Your code here


min_value = 0
max_value = 100
random_numbers = 80


sample_list_2  = [random.randint(min_value, max_value - 1) for number in range(random_numbers)]
print(sample_list_2)

[4, 97, 73, 65, 40, 4, 4, 60, 77, 61, 82, 56, 8, 57, 87, 52, 74, 71, 31, 20, 82, 82, 53, 40, 38, 26, 18, 7, 22, 25, 21, 95, 17, 91, 33, 41, 44, 27, 90, 76, 7, 59, 11, 77, 5, 25, 66, 63, 71, 49, 85, 75, 41, 96, 54, 50, 7, 77, 90, 88, 21, 87, 11, 83, 46, 37, 93, 62, 31, 22, 95, 80, 60, 27, 9, 4, 19, 69, 7, 71]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [95]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

#No, because there are duplicates, and in sets elements have to be unique

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [96]:
# Your code here

set3 = set(set1.difference(set2))
print(set3)

{0, 1, 2, 3, 6, 13, 14, 15, 16, 23, 24, 29, 30, 32, 34, 35, 36, 39, 42, 43, 45, 48, 51, 55, 64, 67, 68, 70, 78, 79, 81, 86, 89, 92, 98}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
# Your code here

set4 = set(set2.difference(set1))
print(set4)

{37, 5, 41, 75, 49, 50, 82, 21, 22, 61, 62}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [98]:
# Your code here

set5 = set(set1.intersection(set2))
print(set5)

{4, 7, 8, 9, 11, 17, 18, 19, 20, 25, 26, 27, 31, 33, 38, 40, 44, 46, 52, 53, 54, 56, 57, 59, 60, 63, 65, 66, 69, 71, 73, 74, 76, 77, 80, 83, 85, 87, 88, 90, 91, 93, 95, 96, 97}

#### 8 - Create an empty set called `set6`.

In [99]:
# Your code here

set6 = set({})
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [100]:
# Your code here

set3.update(set5)
set6.update(set3)

print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}

#### 10 - Check if `set1` and `set6` are equal.

In [101]:
# Your code here

set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [102]:
# Your code here

set1.issubset(set2)

False

In [103]:
set1.issubset(set3)

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [104]:
# Your code here

union1 = set3.union(set4, set5)
print(union1)

union2 = union1.union(set1, set2)
print(union2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#Not possible, pop() method removes a random item from the set, can't remove especifically the first element

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [105]:
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98}

In [107]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for value in list_to_remove:
    if value in set1:
        set1.remove(value)
        
print(set1)
print(len(set1))

{0, 2, 3, 4, 6, 7, 8, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 77, 78, 80, 83, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98}
65

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [108]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [110]:
# Your code here
father_set = set(father_list)
mother_set = set(mother_list)
jo_set = set(Jo_list)
carlos_set = set(Carlos_list)
mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [111]:
# Your code here

mattia_set = jo_set.symmetric_difference(carlos_set)
print(mattia_set)

{'flour', 'sugar', 'yogurt', 'water', 'cherries', 'watermelon', 'juice', 'gums', 'toilet paper', 'cucumber', 'milk'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [112]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['water', 'milk', 'vinegar', 'mushrooms', 'garlic', 'garlic', 'oranges', 'blueberries', 'juice', 'gums']

In [113]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'vinegar', 'water', 'mushrooms', 'juice', 'gums', 'garlic', 'blueberries', 'oranges', 'milk'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [133]:
# Your code here


groceries_list = [father_set, mother_set, jo_set, carlos_set, mattia_set]

for persons_list in groceries_list:
    for item in persons_list.copy():
        if item == 'toilet paper' in persons_list:
            persons_list.discard(item)

print(groceries_list)

[{'flour', 'yogurt', 'watermelon', 'gums', 'garlic', 'onions', 'cucumber'}, {'vinegar', 'water', 'mushrooms', 'juice', 'gums', 'garlic', 'blueberries', 'oranges', 'milk'}, {'sugar', 'yogurt', 'watermelon', 'juice', 'gums', 'blueberries', 'garlic', 'onions', 'cucumber', 'tomatoes', 'milk'}, {'flour', 'water', 'cherries', 'garlic', 'blueberries', 'onions', 'tomatoes'}, {'flour', 'sugar', 'yogurt', 'water', 'cherries', 'watermelon', 'juice', 'gums', 'cucumber', 'milk'}]

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [142]:
# Your code here

house_shopping = father_set.union(mother_set, jo_set, carlos_set, mattia_set)
print(house_shopping)

{'flour', 'yogurt', 'mushrooms', 'blueberries', 'oranges', 'cucumber', 'tomatoes', 'sugar', 'vinegar', 'watermelon', 'water', 'juice', 'cherries', 'gums', 'garlic', 'onions', 'milk'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [143]:
# Your code here

print(len(house_shopping))

17

In [144]:
items_to_buy = 5
discarded_items = (len(house_shopping)) - items_to_buy
print(discarded_items)

12

In [145]:
for item in range(discarded_items):
    house_shopping.pop()
    
print(house_shopping)

{'cherries', 'gums', 'garlic', 'onions', 'milk'}